﻿<%@ Page Title="Yo!" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
    <style>body{background-color: grey;}</style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="content" Runat="Server">
    <a href="Default2.aspx">Default 2</a>
    <asp:Repeater ID="rptNames" runat="server">
        <ItemTemplate>
            <p><%# GetDataItem() %></p>
        </ItemTemplate>
    </asp:Repeater>
</asp:Content>